body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: gray;
}

#accueil {
    padding-top: 15rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50vw;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #111;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}       

/*.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

a {
    transition: background-color 0.5s;
}
  
a:hover {
    background-color: gray;
}

nav {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

section {
    padding: 40px 0;
    background-color: #f2f2f2; 
}



.text-zone {
    max-width: 100px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5;
}

.text-zone p {
    margin-bottom: 15px;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/