body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}



h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

.nav-button {
    color: white;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: gray;
}

#accueil {
    padding-top: 15rem;
    /*background-image: url("images/mbphoto.jpg");
    background-size: cover;*/
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50vw;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #111;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}       

hr {
    border: 1px solid #000; /* Couleur et style de la bordure */
    margin: 90px 0; /* Marge au-dessus et en dessous du séparateur */
}

#galerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.schema {
    width: 500px; /* Redimensionner en largeur à 300 pixels */
    height: auto; /* Garder le ratio original en ajustant automatiquement la hauteur */
}

.line {
    border-bottom: 1.5px solid black;
    width: 35%;
}
